{% import 'macros.twig' as macros %}
{% extends 'base.twig' %}

{% block content %}
    <div class="row content col-lg-12">
        {% for session in sessions %}
            {{ macros.displaySession(session) }}
        {% endfor %}
    </div>

    <div class="row content col-lg-12 text-center">
        <ul class="pagination">
            <li {% if currentPage == 1 %}class="disabled"{% endif %}>
                <a href="{{ app.url_generator.generate('history', {page: 1}) }}">&laquo;</a>
            </li>
            <li {% if currentPage == 1 %}class="disabled"{% endif %}>
                <a href="{{ app.url_generator.generate('history', {page: currentPage-1}) }}">&lt;</a>
            </li>

            <li class="active">
                <a href="{{ app.url_generator.generate('history', {page: currentPage}) }}">{{ currentPage }}/{{ nbPages }}</a>
            </li>

            <li {% if currentPage == nbPages %}class="disabled"{% endif %}>
                <a href="{{ app.url_generator.generate('history', {page: currentPage+1}) }}">&gt;</a>
            </li>
            <li {% if currentPage == nbPages %}class="disabled"{% endif %}>
                <a href="{{ app.url_generator.generate('history', {page: nbPages}) }}">&raquo;</a>
            </li>
        </ul>
    </div>
{% endblock %}