{% extends 'base.twig' %}

{% block content %}
	<div class="row content col-lg-12">
		{% for session in sessions %}
			<div class="panel panel-default">
			  	<div class="panel-heading">
			  		{{ session['ip'] }}
			  		<div class="pull-right text-muted">
			  			{{ session['starttime'] }}{% if session['endtime'] is not null %}&mdash;{{ session['endtime'] }}{% endif %}
			  		</div>
			  	</div>
			</div>
		{% endfor %}
	</div>

	<div class="row content col-lg-12 text-center">
		<ul class="pagination">
		  	<li {% if currentPage == 1 %}class="disabled"{% endif %}>
		  		<a href="{{ app.url_generator.generate('history', {page: currentPage-1}) }}">&laquo;</a>
		  	</li>
		  	{% for i in 1..nbPages %}
		  		<li {% if i == currentPage %}class="active"{% endif %}><a href="{{ app.url_generator.generate('history', {page: i}) }}">{{ i }}</a></li>
		  	{% endfor %}
		  	<li {% if currentPage == nbPages %}class="disabled"{% endif %}>
		  		<a href="{{ app.url_generator.generate('history', {page: currentPage+1}) }}">&raquo;</a>
		  	</li>
		</ul>
	</div>
{% endblock %}